# Infrastructure State and Keys
*.pem
.terraform/
terraform.tfstate*
.terraform.lock.hcl
terraform/terraform.tfvars
ansible/inventory.ini
ansible/inventory_wsl.ini
quickstart/.iii/
submission*.zip

# Python Caches and Environments
__pycache__/
*.pyc
.env
venv/
.venv/
env/

# Node and Local Packages
node_modules/

# Local Data / Log Caches
data/
*.log
